* {
  margin: 0;
  padding: 0;
  background-color: transparent;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
}

body .btn {
  padding: 10px 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 900;
  transition: 400ms;
  cursor: pointer;
  color: #0085FF;
  background-color: #fff;
  border: 1px solid #0085FF;
  border-radius: 5px;
}
body .btn:hover {
  color: #fff;
  background-color: #0085FF;
}
body .btn.secondary {
  padding: 10px 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 900;
  transition: 400ms;
  cursor: pointer;
  color: #FF3D00;
  background-color: #fff;
  border: 1px solid #FF3D00;
  border-radius: 5px;
}
body .btn.secondary:hover {
  color: #fff;
  background-color: #FF3D00;
}
body .btn.reverse {
  padding: 10px 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 900;
  transition: 400ms;
  cursor: pointer;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
}
body .btn.reverse:hover {
  color: transparent;
  background-color: #fff;
}
body .btn.reverse:hover {
  color: #0085FF;
}
body h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: #202020;
}
body h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 900;
  color: #fff;
}
body h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #202020;
}
body h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #202020;
}
body h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #202020;
}
body p,
body a,
body input {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #202020;
}
body p.context,
body a.context,
body input.context {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #939393;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.container.form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #e3e3e3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 30%;
}
form input:not(.btn) {
  padding: 10px 3%;
  width: 94%;
  border-radius: 8px;
  border: 1px solid #e3e3e3;
  outline: none;
}
form input:not(.btn):focus {
  border: 1px solid #0085FF;
  caret-color: #0085FF;
}
form input:not(.btn)::placeholder {
  font-weight: 600;
}
form .links-menu a {
  display: block;
  text-align: center;
  transition: 300ms;
}
form .links-menu a:hover {
  color: #0085FF;
}

header {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav-links,
header .nav-links-profile {
  display: flex;
  gap: 24px;
}
header h1 {
  color: #EF5DA8;
}

.main {
  display: flex;
  gap: 23px;
  padding-bottom: 80px;
}
.main .title {
  width: 50%;
  background-color: #0085FF;
  border-radius: 8px;
  padding: 36px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 34px;
}
.main .title h1 {
  color: white;
  margin: 0 55px;
}
.main img {
  width: 50%;
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 27px;
  padding-bottom: 80px;
}
.cards .product {
  width: 200px;
  border-radius: 8px;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.15);
}
.cards .product .card-content {
  padding: 10px;
}
.cards .product .card-content h2 {
  color: #202020;
  margin-bottom: 14px;
}
.cards .product .card-content .product-info {
  font-size: 12px;
  color: #000000;
  margin-bottom: 8px;
}
.cards .product .card-content .product-size {
  font-size: 10px;
  color: #6A6A6A;
  margin-bottom: 7px;
}

.add-form {
  padding-bottom: 56px;
}
.add-form #add {
  margin: 0 auto;
}

footer {
  background-color: #202020;
  padding: 37px 0;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container p {
  color: white;
}
footer .container .info {
  font-size: 12px;
  font-weight: 400;
}

header .active-profile {
  color: #202020;
}
header .nav-links-profile .profile svg path {
  fill: #FF3D00;
}

.profile-user {
  display: flex;
  gap: 85px;
  background-color: #0085FF;
  padding: 34px 0;
  border-radius: 8px;
}
.profile-user h2 {
  margin-bottom: 5px;
}
.profile-user h5 {
  color: white;
}
.profile-user .edit {
  width: 50%;
  height: 100%;
  margin-left: 34px;
  display: flex;
  gap: 38px;
}
.profile-user .edit .edit-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile-user .about-my {
  width: 50%;
  margin-right: 34px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.awards {
  margin: 80px 0 96px;
}
.awards h1 {
  margin-bottom: 25px;
}
.awards .awards-cards {
  display: flex;
  justify-content: space-between;
}
.awards .awards-cards .awards-card {
  width: 109px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.awards .awards-cards .awards-card .cover-awards {
  margin-bottom: 7px;
}
.awards .awards-cards .awards-card h2 {
  font-size: 12px;
  font-weight: 600;
  color: #202020;
  margin-bottom: 7px;
}
.awards .awards-cards .awards-card p {
  font-size: 10px;
  font-weight: 400;
  color: #808080;
}

/*# sourceMappingURL=style.css.map */
