@use 'colors' as *;

@mixin button($color, $bgColor: $light) {
    padding: 10px 0;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 900;
    transition: 400ms;
    cursor: pointer;
    color: $color;
    background-color: $bgColor;
    border: 1px solid $color;
    border-radius: 5px;

    &:hover {
        color: $bgColor;
        background-color: $color;
    }
}

@mixin font-style($size: 14px, $weight: 400, $color: $dark) {
    font-family: "Montserrat", sans-serif;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}