@use 'colors' as *;
@use 'mixin' as *;


* {
    margin: 0;
    padding: 0;
    background-color: transparent;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
}

body {
    .btn {
        @include button($main);

        &.secondary {
            @include button($second);
        }

        &.reverse {
            @include button($light, transparent);

            &:hover {
                color: $main;
            }
        }
    }

    h1 {
        @include font-style(20px, 900);
    }

    h2 {
        @include font-style(16px, 900, $light);
    }

    h3 {
        @include font-style(14px, 700);
    }

    h4 {
        @include font-style(12px, 700);
    }

    h5 {
        @include font-style(12px, 400);
    }

    p,
    a,
    input {
        @include font-style(14px);

        &.context {
            @include font-style($color: $context)
        }
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;

    &.form {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

form {
    padding: 20px;
    border-radius: 8px;
    border: 1px solid $stroke;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 30%;

    input:not(.btn) {
        padding: 10px 3%;
        width: 94%;
        border-radius: 8px;
        border: 1px solid $stroke;
        outline: none;

        &:focus {
            border: 1px solid $main;
            caret-color: $main;
        }

        &::placeholder {
            font-weight: 600;
        }
    }

    .links-menu {
        a {
            display: block;
            text-align: center;
            transition: 300ms;

            &:hover {
                color: $main;
            }
        }
    }
}

header {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-links,
    .nav-links-profile {
        display: flex;
        gap: 24px;
    }

    h1 {
        color: $active;
    }

}

.main {
    display: flex;
    gap: 23px;
    padding-bottom: 80px;

    .title {
        width: 50%;
        background-color: $main;
        border-radius: 8px;
        padding: 36px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 34px;

        h1 {
            color: white;
            margin: 0 55px;
        }
    }

    img {
        width: 50%;
    }
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 27px;
    padding-bottom: 80px;

    .product {
        width: 200px;
        border-radius: 8px;
        box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.15);

        .card-content {
            padding: 10px;

            h2 {
                color: $dark;
                margin-bottom: 14px;
            }

            .product-info {
                font-size: 12px;
                color: #000000;
                margin-bottom: 8px;
            }

            .product-size {
                font-size: 10px;
                color: #6A6A6A;
                margin-bottom: 7px;
            }
        }
    }
}

.add-form {
    padding-bottom: 56px;

    #add {
        margin: 0 auto;
    }
}

footer {
    background-color: $dark;
    padding: 37px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            color: white;
        }

        .info {
            font-size: 12px;
            font-weight: 400;
        }
    }
}

header {
    .active-profile {
        color: $dark;
    }

    .nav-links-profile {
        .profile {
            svg {
                path {
                    fill: $second;
                }
            }
        }
    }
}

.profile-user {
    display: flex;
    gap: 85px;
    background-color: $main;
    padding: 34px 0;
    border-radius: 8px;

    h2 {
        margin-bottom: 5px;
    }

    h5 {
        color: white;
    }

    .edit {
        width: 50%;
        height: 100%;
        margin-left: 34px;
        display: flex;
        gap: 38px;

        .edit-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    .about-my {
        width: 50%;
        margin-right: 34px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}

.awards {
    margin: 80px 0 96px;

    h1 {
        margin-bottom: 25px;
    }

    .awards-cards {
        display: flex;
        justify-content: space-between;
        .awards-card {
            width: 109px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .cover-awards {
                margin-bottom: 7px;
            }

            h2 {
                font-size: 12px;
                font-weight: 600;
                color: $dark;
                margin-bottom: 7px;
            }

            p {
                font-size: 10px;
                font-weight: 400;
                color: $placeholder;
            }
        }
    }
}